accelerate>=0.25.0
torch~=2.1.0
lightning[extra,strategies]~=2.1.0
torchvision
torchaudio
transformers
timm
diffusers
gradio
torchmetrics
jupyterlab
jupyterlab-code-formatter
black
isort
imutils
jiwer
matplotlib
onnx
pandas
pyctcdecode
tqdm
safetensors
scikit-learn