accelerate>=0.25.0
black
diffusers
gradio
imutils
isort
jupyterlab
jupyterlab-code-formatter
jiwer
matplotlib
onnx
pandas
pyctcdecode
torch~=2.1.0
lightning[extra]~=2.1.0
torchvision
torchaudio
torchmetrics
transformers
timm
tqdm
safetensors
scikit-learn
